@keyframes bounceOut {
  /* scale3d 函数接受三个参数，分别表示在 X 轴、Y 轴和 Z 轴上的缩放比例。
    0.9 表示将元素在每个轴上缩小到原来的 90%。 */
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    opacity:1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity:0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
    --animation-duration: 1s;
    animation-duration: calc(var(--animation-duration) * 2);
    animation-name: bounceOut;
}
