/* 基本按钮样式 */
.ripple-button {
    border: none;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s,transform 0.4s ease,opacity 0.8s;
    opacity: 1;
    text-transform: none;
}

.ripple-button:hover {
   opacity: 0.7;
}

/* 涟漪效果的样式 */
.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    /* 防止涟漪影响按钮的点击事件 */
    opacity: 0.5;
    animation: rippleEffect 0.8s ease-out forwards;
}

.ripple-button.clicked {
    transform: scale(0.95);
    /* 按钮缩小 */
}
/* 涟漪动画 */
@keyframes rippleEffect {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }

    100% {
        transform: scale(20);
        /* 根据按钮大小调整 */
        opacity: 0;
    }
}

